.tables {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
    border-radius: 30px;
    background: rgb(243, 243, 243);
}

.leftt {
    width: 40%;
    text-align: center;
}

.rightt {
    width: 40%;
    text-align: center;
}

.rightt img {
    width: 50%;
}

a {
    color: black;
}

.linkss {
    width: 50%;
    display: block;
    margin: auto;
    background: rgb(228, 228, 228);
}

.bottom {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}