.mother {
    width: 100%;
    margin: auto;
}

.h2title {
    text-align: center;
}

.over {
    width: 95%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.menutab {
    width: 20%;
    background: #20202020;
    border: 30px;
    max-height: 400px;
}

.h3tab {
    text-align: center;
}

.navtab {
    width: 90%;
    margin: auto;
    height: auto;
}

.contenttab {
    width: 75%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.anav,
.nava {
    color: #007bff;
}

.anav .nava:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .over {
        display: block;
    }
    .h3tab {
        display: none;
    }
    .menutab {
        display: flex;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        gap: 20px;
    }
    .menutab a {
        padding: 20px;
    }
    .menutab a:hover {
        background-color: #007bff;
    }
    .menutab a nav:hover {
        color: white;
    }
    .contenttab {
        width: 100%;
        display: block;
    }
    .column {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #map {
        width: 200px;
    }
}