.post {
    width: 100%;
    background-color: rgb(228, 222, 222);
    min-height: 500px;
}

.contents {
    margin-top: 50px;
    width: 90%;
    margin: auto;
    background: rgb(255, 255, 255);
}

.texts {
    margin-top: 20px;
    width: 90%;
    margin: auto;
    background: rgb(255, 255, 255);
    min-height: 400px;
}

.imgg {
    text-align: center;
}

.nav {
    width: auto;
    display: flex;
    gap: 20px;
}

.a_next,
.h4nav {
    padding: 20px;
}

.a_next:hover {
    background-color: navy;
    color: white;
    transition: 1s ease-in;
    text-decoration: none;
    font-size: 16px;
}