form {
    width: 80%;
    margin: auto;
}

input {
    width: 70%;
}

#short {
    width: 50%;
}

#tags {
    width: 80%;
    height: 30px;
    background-color: rgb(240, 231, 231);
    border-radius: 5px;
}

#changed {
    min-width: 80%;
    min-height: 50px;
    border: 2px rgb(240, 231, 231) solid;
    border-radius: 30px;
}

.textt {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ptag {
    min-width: 20%;
    background: rgb(240, 231, 231);
    border-radius: 30px;
    text-align: center;
}

.description {
    min-height: 200px;
    min-width: 70%;
}

.box {
    width: 80%;
    max-height: 300px;
    display: flex;
}

.leftbox {
    width: 50%;
    display: flex;
    gap: 5%;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.dot1,
.dot2 {
    text-align: center;
}

.boxedright {
    width: 50%;
    margin: auto;
    text-align: center;
}


/*-----none-----*/