<br> <br>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="/css/dash.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="mother"> <br>
    <h2 class="h2title">Admin Dashboard</h2> <br> <br>
    <p style="text-align: right; margin-right: 30px;">Greetings {{userName}}</p>
    <div class="over">
        <div class="menutab">
            <h3 class="h3tab">Menu</h3> 
            <a href=""> <nav class="navtab">Overview</nav></a>
            <a href="/statistics" class="anav"> <nav class="navtab">Statistics</nav></a>
            <a href="/newpost"> <nav class="navtab">Add New Post</nav></a>
            <a href="/edit"> <nav class="navtab">Edit Post</nav></a>
        </div>
        <div style="display: flex; gap:20px;flex-wrap:wrap;" class="contenttab" id="init">
            <div class="column" style="width: 90%;">
                 <h3 style="text-align: center;">Web Views Brief Stats</h3> <br>
                <div>
                <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="column">
                <h3 style="text-align: center;">Geolocation</h3>
                <div id="map"  style='width: 400px; height: 300px;'></div>
                <script>
                   
                </script>
            </div>
        </div>
    </div>
</div> <br> <br> <br>
 <script src="/js/userapi.js"></script>
 <script src="/js/map.js"></script>
 