<br> <br>
<link rel="stylesheet" href="/css/dash.css">
<div class="mother"> <br>
    <h2 class="h2title">Admin Dashboard</h2> <br> <br>

    <div class="over">
        <div class="menutab">
            <h3 class="h3tab">Menu</h3> 
            <a href=""> <nav class="navtab">Overview</nav></a>
            <a href=""> <nav class="navtab">Statistics</nav></a>
            <a href=""> <nav class="navtab">Add New Post</nav></a>
        </div>
        <div class="contenttab">
            
        </div>
    </div>
</div>